.places__url {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  cursor: pointer;
  color: #fff;
}

.places__url:hover {
  opacity: 0.8;
}