.footer__menu{
    list-style-type: none;
    align-items: end;
    justify-items: start;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    grid-column-gap: 18px;
    font-size: 1rem;
    line-height: 1.125rem;
}

@media screen and (max-width: 670px) {
    .footer__menu {
      font-size: 1.5rem;
      line-height: 1.5rem;
      grid-template-columns: min-content;
      grid-template-rows: repeat(5, min-content);
      grid-row-gap: 2rem;
    }
  }