@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter-Black.otf);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter-ExtraLight.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter-Bold.otf);
    font-style: normal;
    font-weight: bold;
}