.cover__title{
    max-width: 560px;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 4.75rem;
    margin: 15% auto 2%;
    padding: 0;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    z-index: 3;
    align-self: start;
}

@media screen and (max-width: 1280px) {
    .cover__title {
      margin: 20% auto 0;
    }
}

@media screen and (max-width: 880px) {
    .cover__title {
        margin: auto;
        font-size: 9.375vw;
        line-height: 10.15vw;
    }
}


@media screen and (max-width: 640px) {
    .cover__title {
      font-size: 2rem;
      line-height: 2.188rem;
      margin-top: 25%;
    }
}

@media screen and (max-width: 365px) {
    .cover__title {
      margin-top: 15%;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
      margin-top: 20%;
    }
}