.intro__title{
    max-width: 690px;
    margin: 0;
    font-weight: 900;
    font-size: 3.375rem;
    line-height: 3.625rem;
}

@media screen and (max-width: 1024px) {
    .intro__title {
      width: 100%;
    }
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 6vw;
    line-height: 1.1;
    max-width: 90%;
    padding-bottom: 16px;
  }
}
  
@media screen and (max-width: 330px) {
    .intro__title {
      font-size: 2rem;
      line-height: 2.188rem;
    }
}