.intro__title{
    max-width: 690px;
    margin: 0;
    font-weight: 900;
    font-size: 3.375rem;
    line-height: 3.625rem;
    padding-bottom: 40px;
}

@media screen and (max-width: 1024px) {
    .intro__title {
      width: 100%;
    }
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 54px;
    line-height: 58px;
  }
}
  
@media screen and (max-width: 330px) {
    .intro__title {
      font-size: 2rem;
      line-height: 2.188rem;
    }
}